#mainNav{
    border: 1px solid;
    background-color: #1f1f1f;
}

.container>div>a,.flex>div>a{
    color: white;
    font-size: 22px;
}
.container>div>a:active, .flex>div>a:active{
    color: #e9d5a1;
}
.container,.flex{
    display:flex;
}

.left{
    flex: 25%;
}

@media (max-width: 550px){
    .container>div>a,.flex>div>a{
        color: white;
        font-size: 16px;
    }
}